@font-face {
    font-family: GochiHand;
    src: url(/GochiHand-Regular.ttf);
}

* {
    box-sizing: border-box; /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: GochiHand, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: flex-end; /* pushes L and R item to the edges */
    align-items: center;
    padding: 30px 10%;
}

#logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgba(0, 136 , 169, 1);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136 , 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: rgba(0, 136 , 169, 0.8);
}


.main {
    display: inline;
    background-color: rgb(68, 0, 255);
    font-family: GochiHand;
    text-align: left;
    font-size: 30px;
}

.home-page, svg {
    display: inline-block;
    background-color: brown;
}


